/* ESTRUTURA DA PÁGINA */
#root > main > div.cadastros {
  display: flex;
  margin: 20px 50px 20px 20px;
}

#root > main > div > div.conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

#root > main > div > div > h3 {
  padding: 0 3px;

}

#root > main > div > div 
{
  width: 100px;
  padding: 10px;
  margin: 10px 10;
  
  display: inline-block;
}


/* MENU LATERAL */
main > div > aside {
  margin-right: 30px;
  
}

main > div > aside > ul {
  display: flex;
  flex-direction: column;
  padding-top:58px;
  
}

main > div > aside > ul > li {
  
  width: 300px;
  background-color: #c2e4ba;
  margin: 0px;
  border:1px solid #000000;
  
}

main > div > aside > ul > li > a {
  font-size: 25pt;
  text-align: left;
  padding-left: 3px;
  
}

main > div > aside > ul > li > a:hover {
  color: #17e710;
}

main > div > aside > ul > li > a.active {
  color: #0f0e0e;
  background-color: #5da243;
  
}

/* FORMULÁRIO */
form > * {
  display: block;
  width: 70%;
  box-sizing: border-box;
  margin-top: 5px;
  
}

form > input,
form > button {
  padding: 5px;
  
}

label,
fieldset {
  margin-top: 10px;
}

form > button {
  width: 100px;
  margin: 20px 10px 20px 0;
  display: inline-block;
  
}

main > div > button {
  width: 100px;
  margin: 10px 0 20px 0;
  display: inline-block;
  padding: 5px;
}

/* TABELA */
table,
tbody,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000000;
  
}

table > tbody > tr > th,
table > tbody > tr > td {
  padding: 5px !important;
  text-align: center;
}

table > tbody > tr > th:nth-child(1),
table > tbody > tr > td:nth-child(1) {
  text-align: center;
  
}

table > tbody > tr > th:nth-child(3),
table > tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 300px;
  
}

table > tbody > tr > td > button {
  width: 50px;
  display: inline-block;
  padding: 5px;
  margin: center;
  
}
#cadastro
{
  margin: auto;
}
#margemBotao
{
  margin-left:10px;
  width:40%;
}
#CadLivro
{
  font-size: 45px;
  text-align: center;
  color:#5da243;
  padding-top: 30px;
}
#botaoCadastro
{
    width:1250;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    background-color: #5da243;
    color: white;
    border-radius: 10px;
    border: none;
}
#botaoCadastro:hover
{
    width:1250;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    background-color: #759174;
    cursor: pointer;
    
}

#margemBotaoAluno
{
  margin-left:5px;
  width:40%;
  
}
#margemBotaoAlunoEditar{
  margin-left:5px;
  width:40%;
  background-color: rgb(226, 226, 69);
  border: 1px solid  rgb(179, 177, 177);
  border-radius: 5px;
}

#margemBotaoAlunoExcluir{
  margin-left:5px;
  width:40%;
  background-color: rgb(185, 64, 64);
  color: white;
  border: 1px solid  rgb(179, 177, 177);
  border-radius: 5px;
}


#margemBotaoLivroExcluir{
  margin-left:5px;
  width:40%;
  background-color: rgb(185, 64, 64);
  color: white;
  border: 1px solid  rgb(179, 177, 177);
  border-radius: 5px;
}


#margemBotaoLivroEditar{
  margin-left:5px;
  width:40%;
  background-color: rgb(226, 226, 69);
  border: 1px solid  rgb(179, 177, 177);
  border-radius: 5px;
}
#TamanhoTabelaAcao
{
  text-align: center;
  width: 200px;
}



#BotaoCadCategoria
{
  
  color:rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  cursor: pointer;
  font-size: 20px;
  background-color: #5da243;
  border-radius: 10px ;
  
  
}

#BotaoCadCategoria:hover{

  background-color: #8ece7f;
}
#NomeCategoria
{
  font-size: 30px;
}
#cadCategoria
{
  font-size: 43px;
  margin-left: 200px;
  color:#5da243;
  padding-top: 15px;
}


#ListaEmprestimo
{
  font-size:17px;
  text-align: center;
}
#BotaoEmprestimo
{
  font-size:20px;
  margin-left:15%;
  border-radius: 10px;
}
#BotaoEmprestimoRealizado
{
  font-size: 50px;
  border-radius: 20px;
  border-style: none;
  cursor:pointer;
  background-color:#5da243;
  color: white;
}
#BotaoEmprestimoRealizado:hover
{
  background-color: #5da243;
}
