/* ESTRUTURA DA PÁGINA */
#root > main > div.cadastros {
  display: flex;
  margin: 20px 50px 20px 20px;
  
}

#root > main > div > div.conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

#root > main > div > div > h3 {
  padding: 0 3px;

}
#botaoCadastro
{
    width:1250;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    background-color: #5da243;
}
#root > main > div > div 
{
  width: 100px;
  padding: 10px;
  margin: 10px 10;
  
  display: inline-block;
}


/* MENU LATERAL */
main > div > aside {
  margin-right: 30px;
  
}

main > div > aside > ul {
  display: flex;
  flex-direction: column;
  padding-top:58px;
  
}

main > div > aside > ul > li {
  
  width: 300px;
  background-color: #c2e4ba;
  margin: 0px;
  border:1px solid #000000;
  
}

main > div > aside > ul > li > a {
  font-size: 25pt;
  text-align: left;
  padding-left: 3px;
  
}

main > div > aside > ul > li > a:hover {
  color: #17e710;
}

main > div > aside > ul > li > a.active {
  color: #0f0e0e;
  background-color: #5da243;
  
}

/* FORMULÁRIO */
form > * {
  display: block;
  width: 70%;
  box-sizing: border-box;
  margin-top: 5px;
  
}

form > input,
form > button {
  padding: 5px;
  
}

label,
fieldset {
  margin-top: 10px;
}

form > button {
  width: 100px;
  margin: 20px 10px 20px 0;
  display: inline-block;
  
}

main > div > button {
  width: 100px;
  margin: 10px 0 20px 0;
  display: inline-block;
  padding: 5px;
}

/* TABELA */
table,
tbody,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000000;
  
}

table > tbody > tr > th,
table > tbody > tr > td {
  padding: 5px !important;
}

table > tbody > tr > th:nth-child(1),
table > tbody > tr > td:nth-child(1) {
  text-align: center;
  
}

table > tbody > tr > th:nth-child(3),
table > tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 300px;
  
}

table > tbody > tr > td > button {
  width: 50px;
  display: inline-block;
  padding: 5px;
  margin: center;
}
#cadastro
{
  margin: auto;
}
#margemBotao
{
  margin-left:10px;
  width:40%;
}
#CadLivro
{
  font-size: 50px;
  text-align: center;
  color:#068fff;
}

