a,
h1,
h2,
h3,
ul,
html,
body,
#root {
  margin: 10;
  padding: 10;

}

body {
  margin: 0;
  background-color: #f4f6fa;
  overflow-y: scroll;
}

header {
  grid-area: header;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #5da243;
  text-align: start;
  margin: 5px;
  border-radius: 20px;
}

header h2{
  font-size: xx-large;
  color: #ffffff;
}

nav {
  grid-area: nav;
  font-size: x-large;
  background-color: #ffffff;
  border-bottom: 2px solid;
  border-color: #5da243;
  margin-left: 300px;
  margin-right: 300px;
}

main {
  grid-area: main;
  min-width: 10vh;
}

footer {
  grid-area: footer;
  padding: 5px;
  font-size: large;

  border-top: 1px solid;
  border-color: dodgerblue;
  background-size: 10px;
}

#root {
  min-height: 100vh;
  font-family: "Arial";
  box-sizing: border-box;
  background-color: white;
  border-left: #e1e1e1 1px solid;
  border-right: #e1e1e1 1px solid;
  font-size: calc(10px + 2vmin);
  text-align: center;
  display: grid;
  grid-template:
    "header header header" minmax(auto, 7vh)
    "nav nav nav" minmax(auto, 5vh)
    "main main main"
    "footer footer footer" minmax(auto, 3vh);
}

#root > main > div > div {
  text-align: left;
  font-size: 10pt;
}

ul {
  display: flex;
  justify-content: center;

}

ul li {
  list-style: none;
}

ul li a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;

}

#root > nav > ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

#root > nav > ul li a:hover {
  color: #5da243;
}

#root > nav > ul li a.active {
  color: rgb(0, 0, 0);
}

#root > main > div.principal {
  padding: 50px;
  text-align: center;
}

#welcome{
  font-size: 50px;
  padding-top: 250px;
  padding-left: 200px;
  color: #5da243;
}

#imgInicial{
  width: 600px;
}

#principal{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
#homeIcon{
  width: 35px;
}

@media (max-width: 500px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  nav ul {
    flex-direction: column;
  }
}

/*@media (min-width: 1500px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}*/

@media (min-width: 3000px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
}
